// do work here
// based on this article https://css-tricks.com/rems-ems/

@mixin body-type( $value: 62.5% ) {
  font-size: $value;
}

@mixin module-type( $value ) {
  font-size: $value * 10px;
  font-size: $value + rem;
}

@mixin element-type( $value ) {
  font-size: $value * 10px;
  font-size: $value + em;
}
