// do work here
// based on this article https://css-tricks.com/rems-ems/

@mixin sassy-type( $element, $value: "" ) {
  @if $element == 'body' {
    font-size: 62.5%;
  }
  @if $element == 'module' {
    font-size: unquote($value) * 10px;
    font-size: unquote($value) + rem;
  }
  @if $element == 'element' {
    font-size: unquote($value) * 10px;
    font-size: unquote($value) + em;
  }
}
