@import '../heartwood';
// write tests here
$link-color: cornflowerblue;
html {
  @include document-type;
}

section {
  @include module-type;
}

p {
  @include p;
}

.dropcap {
  @include dropcap(2.5, 1.5);
}

a {
  @include a;
}

.link--simple {
  @include a(simple);
}
h1 {
  @include h(1, 400, no-margin);
}
@for $i from 2 through 6 {
  h#{$i} {
    @include h($i);
  }
}

pre {
  @include code;
  color: white;
  background: #2d2d2d;
  border-radius: 5px;
  padding: 2rem;
}

.quote--border {
  @include blockquote(border);
}

.quote--quote {
  @include blockquote(quote);
}

ul, ol {
  @include list;
}
.list-reset {
  @include list-reset;
}

hr {
  @include hr;
}

.content {
  margin: 0 auto;
  max-width: 500px;
}
