%head
  %link(href="../tests/output.css" rel="stylesheet")
  %link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic")
  %link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Code+Pro")
%body
  %section.content
    %h1 Heading 1
    %h2 Heading 2
    %h3 Heading 3
    %h4 Heading 4
    %h5 Heading 5
    %h6 Heading 6

    %p.dropcap These typefaces are available to us now because of an open-source digitisation by designer and engineer Igino Marini.
    %p
      These typefaces are available to us now because of an open-source digitisation by designer and engineer Igino Marini.

    %pre h1 { font-family: "Roboto", helvetica, sans-serif; }

    %blockquote.quote--quote magical night and what's her face market research legendary 17% always the inverse
    %blockquote.quote--border magical night and what's her face market research legendary 17% always the inverse

    %ul
      %li secondly
      %li all that stuff

    %hr

    %ul.list-reset
      %li secondly
      %li all that stuff

    %hr

    %ol
      %li test
      %li ness
      %li live

    %a(href="https://www.youtube.com/watch?v=Bz8iEJeh26E") Music, great music.
    %hr
    %a.link--simple(href="https://www.youtube.com/watch?v=Bz8iEJeh26E") Music, great music.
