@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
html {
  font-size: 62.5%;
  color: #2d2d2d; }
  @media (max-width: 900px) {
    html {
      font-size: 59.375%; } }
  @media (max-width: 400px) {
    html {
      font-size: 53.125%; } }

section {
  font-size: 10px;
  font-size: 1rem; }

p {
  font-family: "Roboto", helvetica, sans-serif;
  font-size: 16px;
  font-size: 1.6em;
  letter-spacing: .01rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 1em 0;
  text-rendering: optimizeSpeed; }

h1 {
  font-family: "Roboto", helvetica, sans-serif;
  line-height: 1.25;
  margin: 1em 0 0.5em 0;
  text-rendering: optimizeLegibility;
  font-size: 39.8671875px;
  font-size: 3.98671875em;
  letter-spacing: .2rem;
  font-weight: 400; }

h2 {
  font-family: "Roboto", helvetica, sans-serif;
  line-height: 1.25;
  margin: 1em 0 0.5em 0;
  text-rendering: optimizeLegibility;
  font-size: 26.578125px;
  font-size: 2.6578125em;
  letter-spacing: .2rem;
  font-weight: 400; }

h3 {
  font-family: "Roboto", helvetica, sans-serif;
  line-height: 1.25;
  margin: 1em 0 0.5em 0;
  text-rendering: optimizeLegibility;
  font-size: 17.71875px;
  font-size: 1.771875em;
  letter-spacing: .2rem;
  font-weight: 400; }

h4 {
  font-family: "Roboto", helvetica, sans-serif;
  line-height: 1.25;
  margin: 1em 0 0.5em 0;
  text-rendering: optimizeLegibility;
  font-size: 11.8125px;
  font-size: 1.18125em;
  letter-spacing: .2rem;
  font-weight: 400; }

h5 {
  font-family: "Roboto", helvetica, sans-serif;
  line-height: 1.25;
  margin: 1em 0 0.5em 0;
  text-rendering: optimizeLegibility;
  font-size: 7.875px;
  font-size: 0.7875em;
  letter-spacing: .2rem;
  font-weight: 400; }

h6 {
  font-family: "Roboto", helvetica, sans-serif;
  line-height: 1.25;
  margin: 1em 0 0.5em 0;
  text-rendering: optimizeLegibility;
  font-size: 5.25px;
  font-size: 0.525em;
  letter-spacing: .2rem;
  font-weight: 400; }

pre {
  font-family: monospace;
  font-size: 14.5px;
  font-size: 1.45em;
  margin: 0 0 1em 0; }

blockquote {
  font-family: "Roboto", helvetica, sans-serif;
  font-size: 18px;
  font-size: 1.8em;
  font-style: italic;
  margin: 1em 0;
  border-left: 2px solid #2d2d2d;
  padding-left: 1em; }

ul, ol {
  font-family: "Roboto", helvetica, sans-serif;
  font-size: 16px;
  font-size: 1.6em; }

hr {
  margin: 1em 0;
  border-style: solid;
  color: currentColor; }

.content {
  margin: 0 auto;
  max-width: 500px; }
