html {
  font-size: 62.5%;
  color: #2d2d2d; }
  @media (max-width: 900px) {
    html {
      font-size: 59.375%; } }
  @media (max-width: 400px) {
    html {
      font-size: 56.25%; } }

section {
  font-size: 10px;
  font-size: 1rem; }

p {
  font-family: "Roboto", helvetica, sans-serif;
  font-size: 18px;
  font-size: 1.8em;
  letter-spacing: .01rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 1em 0;
  text-rendering: optimizeSpeed; }

a {
  font-family: "Roboto", helvetica, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  color: #2d2d2d;
  letter-spacing: .01rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 1em 0;
  text-rendering: optimizeSpeed;
  cursor: pointer;
  text-decoration: none;
  background-image: linear-gradient(to top, transparent, transparent 2px, #2d2d2d 2px, #2d2d2d 3px, transparent 3px);
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  background-image: linear-gradient(to top, transparent, transparent 2px, #2d2d2d 2px, #2d2d2d 3px, transparent 3px); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    a {
      background-image: linear-gradient(to top, transparent, transparent 2px, #2d2d2d 2px, #2d2d2d 2.5px, transparent 2.5px); } }
  a:hover, a:focus {
    background-image: linear-gradient(to top, transparent, transparent 2px, #474747 2px, #474747 3px, transparent 3px); }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      a:hover, a:focus {
        background-image: linear-gradient(to top, transparent, transparent 2px, #474747 2px, #474747 2.5px, transparent 2.5px); } }

h1 {
  font-family: "Roboto", helvetica, sans-serif;
  line-height: 1.25;
  margin: 1em 0 0.5em 0;
  text-rendering: optimizeLegibility;
  font-size: 39.86719px;
  font-size: 3.98672em;
  letter-spacing: .2rem;
  font-weight: 400; }

h2 {
  font-family: "Roboto", helvetica, sans-serif;
  line-height: 1.25;
  margin: 1em 0 0.5em 0;
  text-rendering: optimizeLegibility;
  font-size: 26.57812px;
  font-size: 2.65781em;
  letter-spacing: .15rem;
  font-weight: 400; }

h3 {
  font-family: "Roboto", helvetica, sans-serif;
  line-height: 1.25;
  margin: 1em 0 0.5em 0;
  text-rendering: optimizeLegibility;
  font-size: 17.71875px;
  font-size: 1.77187em;
  letter-spacing: .05rem;
  font-weight: 400; }

h4 {
  font-family: "Roboto", helvetica, sans-serif;
  line-height: 1.25;
  margin: 1em 0 0.5em 0;
  text-rendering: optimizeLegibility;
  font-size: 11.8125px;
  font-size: 1.18125em;
  letter-spacing: .02rem;
  font-weight: 400; }

h5 {
  font-family: "Roboto", helvetica, sans-serif;
  line-height: 1.25;
  margin: 1em 0 0.5em 0;
  text-rendering: optimizeLegibility;
  font-size: 7.875px;
  font-size: 0.7875em;
  font-weight: 400; }

h6 {
  font-family: "Roboto", helvetica, sans-serif;
  line-height: 1.25;
  margin: 1em 0 0.5em 0;
  text-rendering: optimizeLegibility;
  font-size: 5.25px;
  font-size: 0.525em;
  font-weight: 400; }

pre {
  font-family: "Source Sans Pro", monospace, sans-serif;
  font-size: 14.5px;
  font-size: 1.45em;
  margin: 0 0 1em 0; }

blockquote {
  font-family: "Roboto", helvetica, sans-serif;
  font-size: 18px;
  font-size: 1.8em;
  font-style: italic;
  margin: 1em 0;
  border-left: 2px solid #2d2d2d;
  padding-left: 1em; }

ul, ol {
  font-family: "Roboto", helvetica, sans-serif;
  font-size: 16px;
  font-size: 1.6em; }

hr {
  margin: 1em 0;
  border-style: solid;
  color: currentColor; }

.content {
  margin: 0 auto;
  max-width: 500px; }
